body{
    background-color: #111111;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: unset;
}
h2{
    color: rgb(196, 130, 108);
    font-size: 10vw;
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
}
 .title h1{
    color: rgb(196, 128, 105);
    font-size: 20vw;
    text-align: center;
    font-family: monospace;
    padding: 0%;
}
.title p{
    color: darksalmon;
    font-size: 10vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 0%;
}
.title img{
    width: 100%;
    height: 100%;
}
.logo img{
    width: 100%;
    height: 100%;
   border-radius: 100%;
    border-style: dotted;
    border-color: cornflowerblue;
    image-rendering: crisp-edges;
}
.mission-statement{
    width: 100%;
    border: 10% solid chocolate;
    border-width: 20%;
    color: rgb(226, 130, 98);
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
    border-color: brown;
    font-size: 5vw;
}
.mission-statement img{
    width: 100%;
}
.deviant{
    color: rgb(226, 130, 98);
    border-style: ridge;
    border-color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5vw;
    position: relative;
}
.deviant img{
    width: 100%;
}
.donation{
    text-align: center;
}
.sign-up-sheet {
    width: 100%;
    color: white;
    border-style: solid;
    border-width: 20%;
    border-color: brown;
    border-width: 100%;
    text-align: center;
    overflow: visible;
    position: relative;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSh_sTkuAEXVYJuWZRSvJGxIwDmusENsZxytA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    text-align: center;
    font-size: 5vw;
    width: 100%;
    height: 100%;
}
.inputbox{
    width: 60vw;
    height: 5vw;
    font-size: 4vw;
}
.submitbutton{
    color: white;
    background-color: cornflowerblue;
    width: 30vw;
    height: 6vw;
    font-size: 4vw;
}
.slider{
    background-color: black;
    height: 650px;
    width: 100%;
    overflow: hidden;
    padding: 0%;
    position: relative;
    z-index: 3;
}
.sliderchild{
    height: 100%;
    width: 500%;
    animation: slider infinite 20s 2s;
}
.imagecon{
    display: block;
    height: 100%;
    width: 20%;
    background-color: grey;
    float: left;
    -webkit-text-size-adjust: auto;
    text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    font-size: 20vw;
    font-family: monospace;
    text-align: center;
    color: red;
}
.imagecon:nth-child(1){
    background-image: url(blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(2){
    background-image: url(Yucca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(3){
    background-image: url(russet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(4){
    background-image: url(japanese.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.imagecon:nth-child(5){
    background-image: url(blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes slider{
    12.5%{
        margin-left: -100%;
    }
    25%{
        margin-left: -100%;
    }
    37.5%{
        margin-left: -200%;
    }
    50%{
        margin-left: -200%;
    }
    62.5%{
        margin-left: -300%;
    }
    75%{
        margin-left: -300%;
    }
    87.5%{
        margin-left: -400%;
    }
    100%{
        margin-left: -400%;
    }
}
.footer{
    background-color: grey;
    width: 100%;
}

@media only screen and (min-width:300px){
    .imagecon{
        font-size: 15vw;
    }
    .imagecon:nth-child(1){
        background-image: url(blue5.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca5.jpg);
    }
    .imagecon:nth-child(3){
        background-image: url(russet5.jpg);
    }
    .imagecon:nth-child(4){
        background-image: url(japanese5.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue5.png);
    }
}
@media only screen and (min-width:350px){
    .imagecon:nth-child(1){
        background-image: url(blue6.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca6.jpg);
    }
    .imagecon:nth-child(3){
        background-image: url(russet6.jpg);
    }
    .imagecon:nth-child(4){
        background-image: url(japanese6.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue6.png);
    }
}
@media only screen and (min-width:400px){
    .imagecon{
        font-size: 15vw;
    }
    .imagecon:nth-child(1){
        background-image: url(blue.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca.jpg);
    }
    .imagecon:nth-child(3){
        background-image: url(russet.jpg);
    }
    .imagecon:nth-child(4){
        background-image: url(japanese.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue.png);
    }
}

@media only screen and (min-width: 700px){
    h2{
        font-size: 6vw;
    }
    p{
        font-size: 3vw;
        font-family: 'Courier New', Courier, monospace;
    }
    .title h1{
        color: rgb(196, 128, 105);
        font-size: 20vw;
        text-align: center;
        font-family: monospace;
        
    }
    .title p{
        padding-top: 6%;
    }
    .title{
        background-image: url(https://thumbs.gfycat.com/AllForsakenAsianporcupine-small.gif);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        
    }
    .title img{
        display: none;
    }
    .mission-statement{
        font-size: 3vw;
        border-color: brown;
    }
    .mission-statement img{
        float: left;
        width: 25%;
    }
    .deviant{
        font-size: 3vw;
    }
    .deviant img{
        width: 25%;
        float: left;
    }
    .inputbox{
        width: 35vw;
        height: 4vw;
        font-size: 3vw; 
    }
    .submitbutton{
        width: 15vw;
        height: 6vw;
        font-size: 4vw;
    }
    .imagecon{
        font-size: 10vw;
    }
    .imagecon:nth-child(1){
        background-image: url(blue2.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca2.jpg);
    }
    .imagecon:nth-child(3){
        background-image: url(russet2.jpg);
    }
    .imagecon:nth-child(4){
        background-image: url(japanese2.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue2.png);
    }
}
@media only screen and (min-width: 1000px){
    h2{
        font-size: 6vw;
    }
    .slider{
        height: 800px;
    }
    .logo{
        width: 80%;
        padding-left: 10%;
    }
    .mission-statement{
        width: 100%;
    }
    .inputbox{
        width: 30vw;
        height: 4vw;
        font-size: 3vw; 
    }
    .submitbutton{
        width: 20vw;
        height: 4vw;
        font-size: 2vw;
    }
    
    .imagecon{
        font-size: 10vw;
    }
    .imagecon:nth-child(1){
        background-image: url(blue3.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca3.jpg);
    }
    .imagecon:nth-child(3){
        background-image: url(russet3.jpg);
    }
    .imagecon:nth-child(4){
        background-image: url(japanese3.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue3.png);
    }
}
@media only screen and (min-width:1200px){
    .slider{
        height: 1150px;
    }
    .mission-statement-wrapper{
        font-size: 2vw;
    }
    .deviant{
        font-size: 2vw;
    }
    .imagecon{
        font-size: 10vw;
    }
    .imagecon:nth-child(1){
        background-image: url(blue4.png);
    }
    .imagecon:nth-child(2){
        background-image: url(Yucca4.jpg);
    }
    .imagecon:nth-child(5){
        background-image: url(blue4.png);
    }
}
