body{
    background-color: black;
}
.logo img{
    width: 100%;
    height: 25%;
}
.mission-statement h2{
    color:#643D2A;
}
.mission-statement p{
    color: #966C4C;
}
.mission-statement {
    width: 100%;
    height: 25%;
}

#slider{
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0%;
    left: 0%;
    animation: 20s slider infinite
}
#slider figure img{
    width: 20%;
    float: left;
}
@keyframes slider{
    0%{
        left: 0%;
    } 
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
       left: -200%; 
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.footer{
    background-color: grey;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
